<!DOCTYPE html>
<html lang="en" title="Coding design">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Responsive HTML Table With Pure CSS - Web Design/UI Design</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="grid-bg ba-grid anim">
  <div class="inner">

    <main class="table">
        <section class="table__header">
            <h1>Technical Training Programs for Women</h1>
           
           
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> TYPE </th>
                        <th> TITLE</th>
                        <th> VENUE </th>
                        <th> LINK</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each technicalTraining}}
                    <tr>
                        <td>{{this.type}}</td>
                        <td>{{this.title}}</td>
                        <td>{{this.venue}}</td>
                        <td><a href={{this.link}} target="_blank">{{this.link}}</a></td>               
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </section>
    </main>
    </div></div>
<div class="grid-bg ba-grid anim">
  <div class="inner">
    <main class="table">
        <section class="table__header">
            <h1>Women Support Resources</h1>
           
          
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> TITLE </th>
                        <th> DESCRIPTION</th>
                        <th>LINK</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each resources}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>{{this.description}}</td>
                        <td><a href={{this.link}} target="_blank">{{this.link}}</a></td>     
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </section>
    </main>
    
    </div>
    </div>
</body>

</html>
